@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');

#search {
    margin-top: 30px;
    width: 100%;
    border: 3px solid #f39200;
    /* border-right: none; */
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF
}
#list li a{
    color: #f39200 !important;
}

ul.posts {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px; 
}

.post {
    list-style-type: none;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    z-index: 10;
}

.post-header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.meta-text {
    padding: 0 ;
}
.thumbnail-container {
    max-height: 300px;
    overflow: hidden;
    max-width: 100%;
    height: 300px;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.meta-text {
}

.title {
    font-family: Poppins, sans-serif !important;
    font-style: italic;
    font-size: 18px !important;
    color: #000 !important;
    margin-bottom: 0 !important;
    padding: 0 5px;
    margin-top: 10px ;
}
.title a{
    font-size: 30px !important;
    font-weight: 200;
    color: #000 !important;
    padding: 0 5px;
    
}
.date {
    color: #f39200;
}
.description {
    margin:  0;
    padding: 0 15px;
    font-size: 18px !important;
}
.post-btn {
    background-color: #f39200;
    border: #f39200 2px solid;
    padding: 6px 14px;
    display: block;
    text-align: center;
    margin: 5px auto 15px auto;

}
.post-btn a {
    color: white;
}
.post-btn:hover {
    background-color: white;
    border: #f39200 2px solid;
}
.post-btn:hover a {
    color: #f39200;
}


.copy-footer{
    text-align: center;
    background-color: #f39200;
    color: #fff;
    padding: 5px 0;
}

@media (max-width:1080px) {
    ul.posts{
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px; 
    }    
}
@media (max-width: 768px) {
    ul.posts{
        grid-template-columns: 1fr;
        grid-gap: 30px; 
    }
    .post-header {

        
    }
    .thumbnail-container {
        
    }
    .meta-text {

        
    }
    .copy-footer{
        padding: 0;
        font-size: 12px;
    }
}