{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}

<div class="module">
  <div class=" module-inside">
    <div class="">
      <div>
        <div class="landing-caption">
          <h1 class="title is-1 is-bold is-spaced has-text-white has-text-centered">
            {{ $title }}
          </h1>
          {{ with $subtitle }}
          <h2 class="subtitle is-4 is-muted has-text-white-ter has-text-centered">
            {{ . }}
          </h2>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .bg-hero{
    background-image: url("/images/homepage/egyptian-women-aromatherapy-new.png");
    background-position: top center;
    background-size: cover;
    height: 70vh;
    /* width: 100vw !important; */
  }
  .module {
  display: grid;
  padding: 0 20px 60px 20px;
  place-items: end;
  position: relative;
  height: 70vh;
}
.module::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("/images/homepage/egyptian-women-aromatherapy-new.png");
  background-position: top center;
  background-size: cover;
  height: 70vh;
  filter: brightness(0.4);
}
.module-inside {
  position: relative;
}
</style>