{{ template "_internal/google_analytics_async.html" . }}
{{ if eq .Site.Params.openGraph true }}
{{ template "_internal/opengraph.html" . }}
{{ end }}
<meta name="description" content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Hardcoded description; the author should update :){{ end }}" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!-- <meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@mudassirnawazj1" />
<meta name="twitter:title" content="Dioscorides" />
<meta name="twitter:description" content="Our mission
is to promote the use of natural products that are effective in preserving and improving health..." />
<meta property="twitter:image:src" content="https://dioscorides.org/images/logos/logo-sm.png"> -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@yourtwitterhandle">
<meta name="twitter:title" content="Dioscorides">
<meta name="twitter:description" content="Our mission is to promote the use of natural products that are effective in preserving and improving health and well-being, as well as in combating aging and health conditions.">
<meta name="twitter:image" content="https://dioscorides.it/images/dioscorides-mandragora-Ernest%20Board%20Wellcome%20Collection.jpg">
