{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
<section class="section is-medium" id="section2" style="padding-top: 0px;">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">Read Our Latest Blog Posts</h1>
        
        <div class="divider"></div>
      </div>
    </div>
    <div class="column mt-60">
      <ul class="posts flat">
        {{ $paginator := .Paginate .Site.RegularPages }}
        {{ range first 3 $paginator.Pages }}
        <li class="post">
          <div class="post-header">
              <div class="thumbnail-container">
                  <a class="thumbnail" href="{{ .RelPermalink }}">
                    <img src="{{ .Params.thumbnail }}" alt="">
                  </a>
              </div>
              <div class="meta-text">
                <div class="matter">
                    <article>
                        <h3 class="title-blog"><a href="{{ .RelPermalink }}">{{.Title}}</a></h3>
                        <div class="meta">
                          <div class="date">
                              <span class="day">{{ dateFormat "02" .Date }}</span>
                              <span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
                          </div>
                        </div>
                
                        <span class="description">{{ if isset .Params "description" }}{{ .Description }}{{ else }}{{ .Plain  | htmlUnescape | safeHTML | truncate 140 }}{{ end }}</span>
                        <button class="post-btn"><a href="{{ .RelPermalink }}">Read More</a></button>
                    </article>
                </div>
              </div>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="has-text-centered mt-20">
      <a href="/blog/" class="button cta is-large secondary-btn raised is-clear">Visit Our Blog</a>
    </div>
  </div>
</section>